.cart {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 0 32px;

  &__item {
    display: flex;

    &__image {
    }

    &__info {
      &--title {
      }
      &--price {
      }
    }

    &__options {
    }
  }
}
