.products {
  &__container {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__category {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-bottom: 16px;
    color: $gray-800;
    display: inline-block;
    border-bottom: 2px solid $gray-800;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  // &__col {
  // }
}
