.btn {
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  &-logo {
    &:link,
    &:visited {
      font-weight: 700;
      font-size: 24px;
      color: $color-primary;
      letter-spacing: 1.5px;
    }
  }

  &-svg {
    display: flex;

    svg {
      fill: $color-primary;
    }
  }

  &-sidebar {
    display: flex;
    padding: 8px 16px;

    &:hover {
      background-color: $gray-200;
    }

    svg {
      fill: $gray-600;
      width: 25px;
      height: 25px;
    }

    p {
      color: #000000;
      font-size: 18px;
      margin-left: 5px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    img {
      width: 20px;
      height: atuo;
      margin-right: 5px;
    }

    p {
      color: black;
      font-size: 18px;
    }
  }

  &-carousel-indicator {
    height: 10px;
    width: 10px;
    border: 2px solid $color-primary;
    border-radius: 100%;
    margin: 0px 5px;

    &.currentIndicator {
      background-color: $color-primary;
    }
  }
}
