.btn {
  text-decoration: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  &-logo {
    &:link,
    &:visited {
      font-weight: 700;
      font-size: 24px;
      color: $color-primary;
      letter-spacing: 1.5px;
    }
  }

  &-svg {
    display: flex;

    svg {
      fill: $color-primary;
    }
  }

  &-sidebar {
    display: flex;
    padding: 8px 16px;

    &:hover {
      background-color: $gray-200;
    }

    svg {
      fill: $gray-600;
      width: 25px;
      height: 25px;
    }

    p {
      color: #000000;
      font-size: 18px;
      margin-left: 5px;
    }
  }
}
